<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.2.1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-animate.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/login.css" >
    <link rel="stylesheet" href="/assets/home.css" >
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/app/components/home/home.js"></script>
    <script src="/app/shared/shared.js"></script>
    <script src="/app/shared/Trips/FlightsService.js"></script>
    <script src="/app/components/home/FlightsController.js"></script>
    <title>Home Page</title>
</head>
<body>

    <div class="container" ng-app="home">
        <div ng-view></div>
    </div>

</body>
</html>