<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.2.1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/Panels.css" >
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/app/components/home/home.js"></script>
    <script src="/app/shared/shared.js"></script>
    <script src="/app/shared/Trips/FlightsService.js"></script>
    <script src="/app/components/home/FlightsController.js"></script>
    <title>Home Page</title>
</head>
<body>

    <div class="container" ng-app="home">
        <div class ="jumbotron">
            <h1>
                Hello to FrequentFlyer App!
            </h1>
            <p>
                On this website you can access your flights and update them.
            </p>
        </div>
        <div id="FlightsBlock" ng-controller="FlightsController" class="panel-group">
            <ul class="nav nav-pills nav-stacked col-md-4 " >
                <li class="active" ><a href="#" ng-click="doShowFlights()" >Your Flights</a></li>
                <li class="animate-show-hide" ng-repeat="flight in flights track by $index" ng-show="showFlights" >
                    <a href="#">
                        Miles: {{ flight.miles }},
                        Airport Departure Code: {{ flight.airportDepartureCode }},
                        Airport Arrival Code: {{ flight.airportArrivalCode }}
                    </a>
                </li>
            </ul>
        </div>
    </div>

</body>
</html>