<div class="ng-enter ng-enter-active" >
    <div class="row">
    </div>
    <div>
        <div class="jumbotron" id = "app-header" >
            <h1 >Welcome <span ng-bind="name"></span> to your profile!</h1>
            <p>
                Here you can check your progress towards becoming greatest flier in the world!
            </p>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class = "col-lg-12 well">
                <div class="col-lg-8">
                    <h2 >
                        You have travelled <span ng-bind="miles"></span> miles!
                    </h2>
                    <h3>
                        Each level is gained after traveling for {{nextLevel}} miles.
                    </h3>
                </div>
                <div class="col-lg-4">
                    <div>
                        <div>
                            <h2 >
                                You are at level {{level}}, you need {{neededMiles}} more miles to upgrade your level!

                            </h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row ">
            <div class="progress col-lg-12 "  id="prog">
                <div id="prog2" class="progress-bar progress-bar-striped active custom" role="progressbar"
                     ng-style="myStyle" aria-valuemin="0" aria-valuemax="100" style="width:80%">
                    <p> {{ (nextLevel - neededMiles) / 100 }}%</p>
                </div>
            </div>

        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <a href="#!addFlight" id="addFlight">
                <button type="button" class="btn btn-primary btn-lg wide-button">
                    <span class="glyphicon glyphicon-send"></span> Add a flight.</button>
            </a>
        </div>
        <div class="col-lg-4" >
            <a href="#!flights">
                <button type="button" class="btn btn-primary btn-lg wide-button">
                    <span class="glyphicon glyphicon-plane"></span> See your flights.
                </button>
            </a>
        </div>
        <div class="col-lg-4">
            <button type="button" class="btn btn-primary btn-lg wide-button">
                <span class="glyphicon glyphicon-user"></span>
                See your profile.</button>
        </div>
    </div>
</div>