<div class="ng-enter ng-enter-active" >
    <div class="row">

    </div>
    <div>
        <div class="jumbotron" id = "app-header">
            <h1>Welcome to your profile.</h1>
            <p>
                Here you can check your progress towards becoming greatest flier in the world!
            </p>
        </div>
    </div>
    <div class="well col-lg-8 col-lg-offset-2">
        <h2 class="lead">
            You need 214 more miles to upgrade your status!
        </h2>
    </div>
    <div class="container-fluid">
        <div class="row ">
            <div class="progress col-lg-10 " id="prog">
                <div id="prog2" class="progress-bar progress-bar-striped active custom" role="progressbar"
                     aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:40%">
                    <p> 40%</p>
                </div>
            </div>
            <div class="col-lg-2 ">
                <div>
                    <div class="well ">
                        <span class="glyphicon glyphicon-star-empty"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <a href="#!addFlight">
                <button type="button" class="btn btn-primary btn-lg wide-button">
                    <span class="glyphicon glyphicon-send"></span>
                    Add a flight.</button>
            </a>
        </div>
        <div class="col-lg-4" >
            <a href="#!flights">
                <button ng-click="getFlights()" type="button" class="btn btn-primary btn-lg wide-button">
                    <span class="glyphicon glyphicon-plane"></span>
                    See your flights.
                </button>
            </a>
        </div>
        <div class="col-lg-4">
            <button type="button" class="btn btn-primary btn-lg wide-button">
                <span class="glyphicon glyphicon-user"></span>
                See your profile.</button>
        </div>
    </div>
</div>