<div class="form-style-8 ng-enter ng-enter-active center">
    <h2>Hello to the frequent flier app. </br> Please login to continue.</h2>
    <form>
        <input ng-model="email" type="email" name="email" placeholder="Email" required />
        <input  ng-model="password" type="password" name="password" placeholder="Password" />
        <div class="row" id="t">
            <a>
                <input  type="button" class="btn btn-primary" name="login" value="Login" ng-click="login()" />
            </a>
            <a href="#!adminPage">
                <input type="button" class="btn btn-primary" name="login-as-admin" value="Login As Admin" />
            </a>
        </div>
    </form>
</div>